// Variables
$text-color: #373737;
$page-width: 820px;
$min-width: 340px;

// GLOBAL
* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  color: $text-color;
}

h1,
h2 {
  font-weight: 600;
  margin: 0;
}

h1 {
  @media (max-width: 600px) {
    font-size: 1.8rem;
  }
}

h2 {
  margin-bottom: 10px;

  @media (max-width: 600px) {
    font-size: 1.3rem;
  }
}

p {
  font-size: 1rem;
  margin: 20px 0;
  line-height: 22px;
}

a {
  text-decoration: none;
  color: #125b84;

  &:hover {
    text-decoration: underline;
  }
}

b {
  font-weight: 600;
}

// ELEMENTS
.page {
  margin: 0 auto;
  padding: 0 20px;
  max-width: $page-width;
  min-width: $min-width;
}

.reset {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 10px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  font-size: 0.9rem;

  a {
    cursor: pointer;
  }
}

header {
  background-image: url('../imgs/wp.jpg');
  background-size: cover;
  background-position: center;
  height: 240px;
  position: relative;
  box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.6);
  min-width: $min-width;

  @media (max-width: 900px) {
    height: 180px;
  }

  @media (max-width: 600px) {
    height: 160px;
  }

  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    @media (max-width: 900px) {
      height: 100px;
    }

    @media (max-width: 600px) {
      height: 80px;
    }
  }
}

section {
  padding: 40px 0;
  border-bottom: 1px solid #dbdbdb;
}

ul.legend {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    padding: 8px;

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.npc,
.event,
.boss {
  padding: 0 4px 0 2px;

  a {
    color: $text-color;
  }
}

.npc {
  background-color: rgb(223, 245, 223);
}

.event {
  background-color: rgb(211, 237, 243);
}

.boss {
  background-color: rgb(243, 213, 213);
}

picture {
  position: relative;
  text-align: center;
  width: 100%;
  display: block;
  margin-bottom: 40px;
  font-size: 0;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2);

  img {
    width: 100%;
  }

  .title {
    padding: 16px;
    font-size: 2.2rem;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: rgba(255, 255, 255, 0.7);

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;

    box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.4);

    @media (max-width:600px) {
      font-size: 1.3rem;
      padding: 8px;
      box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.4);
    }
  }
}

ul.checklist {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: flex;
    padding: 6px;

    &.spaced {
      margin-top: 20px;
    }

    &.completed {
      .description {
        text-decoration: line-through;
        filter: grayscale(1);
        color: rgb(180, 180, 180);
        transition: all .3s cubic-bezier(.77, 0, .18, 1);
      }

      a {
        color: rgb(180, 180, 180);
        transition: all .3s cubic-bezier(.77, 0, .18, 1);
      }
    }

    &.indented {
      padding-left: 40px;
    }

  }

  .description {
    line-height: 24px;
    margin-top: -3px;

    @media (max-width:600px) {
      margin-top: 2px;
      font-size: 0.9rem;
      line-height: 1.2rem;
    }
  }


}

.infobox {
  background-color: #f3f3f3;
  padding: 16px;
  margin: 30px 0 0 0;

  @media (max-width:600px) {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }

  &.info::before {
    content: "ℹ️";
    margin-right: 10px;
    display: inline-block;
  }

  &.achievement::before {
    content: "🏆";
    padding-right: 10px;
    display: inline-block;
  }
}

ul.note {
  list-style-type: none;
  margin: 10px 0 0 0;
  padding: 0;

  li {
    line-height: 30px;
  }
}

footer {
  padding: 40px 0;
  line-height: 26px;
  text-align: center;
  font-size: 0.8rem;
}

// CHECKBOX
.checkbox {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 2px solid rgb(220, 220, 220);
  cursor: pointer;
  border-radius: 4px;
  vertical-align: text-bottom;
  margin-right: 10px;

  @media (max-width:600px) {
    height: 24px;
    width: 24px;
  }

  &:hover:not(.checked) {
    border-color: #3498db;
  }

  &:active:not(.checked) {
    background-color: rgb(240, 240, 240);
  }

  &.checked {
    border-color: #3498db;
    background-color: #3498db;
    color: #fff;
    font-size: 12px;
    background-image: url('../imgs/ticked.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}