/*SC VERT #26C88C*/

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
  background-color: #e5e5e5;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 50px;
  color: #3a3a3a;
}

a {
  color: #2e81b0;
  text-decoration: none;
}

.feed-box {
  padding: 10px;
  width: 800px;
  margin: 0 auto;
  text-align: left;
}

.feed-item {
  display: block;
  height: 55px;
  *border: 1px solid red;
}

.feed-item picture {
  float: left;
}

.feed-item picture img {
  border-radius: 6px;
  width: 55px;
  height: 55px;
}

.feed-description {
  font-size: 14px;
  margin-left: 65px;
  width: 500px;
}

.feed-description b {
  font-size: 14px;
}

.feed-description a {
  font-size: 14px;
}

.feed-actions,
.comment-actions {
  font-size: 12px;
  margin: 5px 0 0 65px;
  width: 500px;
}

.feed-actions a,
.comment-actions a {
  font-size: 12px;
  color: #6d7fa5;
}

.feed-actions a:hover,
.comment-actions a:hover {
  text-decoration: underline;
}

.feed-actions .date,
.comment-actions .date {
  font-size: 12px;
  color: #999;
}




.likes {
  margin-right: 3px;
  background: url('../img/like.png') no-repeat left;
  padding-left: 14px;
}

.likes {
  font-size: 12px;
  color: #6d7fa5;
  *border: 1px solid red;
}

.liked {
  background: url('../img/liked.png') no-repeat left;
}





.comment-box {
  margin-left: 65px;
  background-color: #f5f5f5;
  padding: 0 15px 15px 15px;
  margin-top: 15px;
  font-size: 14px;
}

.comment-box::before {
  font-size: 1px;
  content:'';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7.5px 10px 7.5px;
  border-color: transparent transparent #f5f5f5 transparent;
  position: absolute;
  margin-top: -10px;
}

.comment-item {
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  padding: 15px 0 15px 0;
  margin-top: -1px;
}

.comment-item:first-child {
  border-top:0;
}

.comment-item picture img {
  width: 40px;
  height: 40px;
  border-radius: 3px;
}

.comment-username {
  font-size: 14px;
  font-weight: bold;
  margin-left: 50px;
  *border: 1px solid green;
}

.comment-username small {
  font-size: 12px;
  color: #999;
  font-weight: normal;
  margin-left: 6px;
  vertical-align: top;
}

.comment-options {
  background: url(https://cdn4.iconfinder.com/data/icons/developer-set-3/128/other-16.png) no-repeat center -2px;
  display: none;
  cursor: pointer;
  float: right;
  width: 20px;
  height: 20px;
  *border: 1px solid #2e81b0;
}

.comment-options:hover {
  background-color: #fff;
}



.options-dropdown {
  display: none;
  position: absolute;
  background-color: #FFF;
  margin-left: 615px;
  width: 200px;
  margin-top: 20px;
  font-weight: normal;
}

.answer .options-dropdown {
  margin-left: 574px;
}

.options-dropdown a {
  font-size: 13px;
  padding: 8px 10px;
  display: block;
}

.options-dropdown a:hover {
  background-color: #f7f7f7;
}



.comment-item:hover .comment-options {
  display: block;
}

.comment-body {
  *border: 1px solid blue;
  font-size: 14px;
  margin: 8px 0 0 50px;
  line-height: 25px;
}

.comment-body i {
  font-size: 14px;
  color: #999;
}

.comment-actions {
  margin: 8px 0 0 50px;
}




.answer {
  border-left: 1px solid #e5e5e5;
  padding: 10px;
  margin-left: 20px;
  background-color: #ebf1f5;
}


.comment-form {
  border-top: 1px solid #e5e5e5;
  display: block;
  padding-top: 15px;
  margin-top: -1px;
  *border: 1px solid red;
}

.comment-form picture {
  display: inline-block;
}

.comment-form .comment-zone, .emoji-wysiwyg-editor {
  margin-left: 10px;
  width: 620px;
  max-width: 620px;
  height: 55px;
  font-size: 14px;
  display: inline-block;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #e5e5e5;
  color: #3a3a3a;
  resize: none;
  border-radius: 3px;
  background-color: white;
}

.emoji {
  *border: 1px solid red;
  vertical-align: text-bottom;
  height: 24px;
  width: 24px;
}

.emoji-text {
  color: #999;
  font-size: 12px;
}

.comment-tools {
  font-size: 12px;
  margin: 10px 0 0 0;
  text-align: right;
  display: none;
}

.comment-tools button {
  background-color: #26C88C;
  padding: 8px 14px;
  color: #FFF;
  font-size: 14px;
  border: 0;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
}

.emoji-dropdown {
  border-right: 1px solid #e5e5e5;
  vertical-align: middle;
  margin-right: 10px;  
  text-align: left;
  display: inline-block;
  padding-right: 10px;
}

.emoji-dropdown a {
  background: url("../img/emoji.png") no-repeat 0;
  display: block;
  height: 24px;
  width: 24px;
}

.emoji-dropdown a:hover {
  background: url("../img/emoji-hover.png") no-repeat 0;
}





.news {
  background-color: white;
  padding: 10px;
  position: absolute;
  text-align: left;
  width: 480px;
}

.news h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.news img {
  vertical-align: middle;
  margin-right: 10px;
}

.news-item {
  display: inline-block;
  *border: 1px solid green;
  margin-left: 40px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}

.news-item::before {
  background-image: url('../img/arrow.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 30px;
  height: 30px;
  *border: 1px solid red;
  display: inline-block;
  position: absolute;
  content: '';
  margin-left: -35px;
}

.highlight {
  box-shadow: 0px 0px 20px 10px #ffffa6;
}